body
	{
	
		background-color: orange; 
		font-family: calibri;
	
	}
.szöveg 
	{
		width: 960px; 
		background-color: cornsilk;
		margin: 0 auto 0 auto;
		
		
	}
h1
	{
		text-decoration:underline; 
		text-decoration-color:orange; 
		text-align:center;
	}
h2
	{
		text-decoration:underline overline; 
		text-decoration-color:orange;
	}
thead 
	{
		background-color: cornsilk; 
		text-decoration: border; 
	}
table
	{
		text-decoration:border; 
	}
li
	{
		margin-left: 75px;
		float: center; 
		text-align:justify; 
		width:500px;
	}
.kep1 
	{ 
		position: absolute;
		left: 1050px;
		top: 250px;
		right: 100px
		bottom: 0px;
		width: 250;
		border: 3px solid orange;
	}
.kep2 
	{ 
		position: absolute;
		left: 1050px;
		top: 450px;
		right: 100px
		bottom: 0px;
		border: 3px solid orange;
	}
.kep3
	{ 
		position: absolute;
		left: 1050px;
		top: 650px;
		right: 100px
		bottom: 0px;
		border: 3px solid orange;
	}
footer
	{
		font-style: italic; 
		position: absolute;  
		left:300px;
	}